{
    "cache": false,
    "check-coverage": false,
    "instrument": true,
    "sourceMap": true,
    "all": true,
    "extension": [
        ".ts"
    ],
    "include": [
        "**/*.js",
        "**/*.ts"
    ],
    "exclude": [
        "coverage/**",
        "node_modules/**",
        "**/*.d.ts",
        "**/*.test.ts",
        "src/tests/**"
    ],
    "reporter": [
        "html",
        "text"
    ]
}